@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,200;0,8..144,300;1,8..144,100;1,8..144,200;1,8..144,300&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: roboto;
    color: #777777;
}

/*................................Header.................*/

h2 {
    font-family: roboto;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #555555;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    list-style-type: none;
    letter-spacing: 2px;
}

#logo,
#menu {
    line-height: 75px;
}

#menu li {
    float: right;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

/*................................Main image................*/

#gym-image {
    height: 600px;
    width: 100%;
    background: url("../images/gym.png") no-repeat center center;

    animation-name: gym-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#gym-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes gym-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
cover-text h6 {
    color: #ffffff;
}

#cover-text {
    font-size: 130%;
    font-family: roboto;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #3e3c3c;

    width: 800px;
    height: 400px;

    padding-top: 40px;
    padding-left: 10px;

    bottom: 30px;
    left: 150px;

    position: absolute;
}

.header-p {
    font-size: 18;
    font-family: roboto;
    text-transform: none;
}

.overlay-h6 {
    font-size: 14px;
    height: 35px;
    padding-top: 10px;
    bottom: 30px;
    left: 150px;
}

.overlay-h3 {
    font-size: 70px;
    font-family: roboto;
    letter-spacing: 2px;
    padding-bottom: 30px;
}

/*................................fitness Ethos................*/

#gym-ethos {
    height: 500px;
}

#left-about {
    padding-top: 30px;
    width: 48%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 48%;
    float: right;
}

hr {
    border-top: 1px solid #777777;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 30px;
}

.right-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 30px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
    /* padding-bottom: 50px; */
}

.left-about-heading p {
    /* margin-bottom: 80px;*/
}

#welcome {
    margin: 30px 0;
    text-align: center;
    font-size: 200%;
}

.xavier {
    color: red;
}

/*................................Info................*/

#info-ethos {
    height: 600px;
    width: 100%;
    align-items: center;
    display: inline-block;
    flex-direction: row;
    justify-content: center;
}

#left-info {
    padding: 0, 0, 0, 0;
    height: 600px;
    width: 50%;
    background: url("../images/gym3.jpg") no-repeat;
    background-size: cover;
    float: left;
}

#right-info {
    padding: 0, 0, 0, 0;
    height: 600px;
    width: 50%;
    float: right;
    text-align: center;

    background-color: rgba(255, 0, 0, 0.1);
}

#right-info h2 {
    padding-top: 40px;
    padding-bottom: 30px;
    width: 70%;
    padding-left: 120px;
}

#right-info p {
    padding-bottom: 30px;
    width: 70%;
    padding-left: 120px;
}

/*.right-info-join {
    width: 50%;
    margin-bottom: 80px;
    align-items: center;
    padding-left: 150px;
    padding-top: 30px;

}
*/

.btn-join {
    background-color: red;
    color: #ffffff;
    font-size: 18px;
    font-family: roboto;
    padding: 16px 32px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.btn-join:hover,
button:hover {
    background-color: #45a049;
}

input [type="email"] {
    padding: 10px;
    margin: 5px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*................................Footer................*/
/*.
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
    text-align: center;

}

.footer-menu {
    font-size: 20px;
}

footer a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

footer a:hover {
    text-decoration: underline;
    color: #c30421;
}

.social-icons a {
    color: white;
    font-size: 30px;
    margin-right: 10px;
    transition: color 0.3s ease;
    display: inline;
}

.social-icons a:hover {
    color: #c30421;


    .social-networks {
        margin: 10px;

    }

    .social-networks a {
        margin: 0 10px;
        color: white;
        font-size: 20px;
        padding-top: 20px;

    }

    .footer-social {
        text-align: center;
        padding-bottom: 20px;
    }

    .social-networks li {
        list-style-type: none;

    }
        */
footer {
    height: 150px;
}

.social-icons {
    text-align: center;
}

.social-icons li {
    display: inline;
}

.social-icons i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}

/*................................Gallery................*/

#photo {
    clear: none;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photo img {
    width: 100%;
    break-inside: avoid-column;
}

#gallery-outer {
    height: 100px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #555555;
}

#gallery-outer h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
    align-items: center;
    padding-top: 30px;


}

/*................................mobile view................*/
@media screen and (max-width: 1393px) {
    #gym-ethos {
        width: 65%;
        height: 800px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about,
    #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #info-ethos {
        display: flex;
        justify-content: space-between;
    }

    #info-ethos div {
        width: 100%;
        clear: both;
        height: 400px;
        border-style: solid;
        padding: 0;
        font-size: 15px;
    }

    hr {
        display: none;
    }

}

@media screen and (max-width: 943px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0px;

        font-size: 100%;
        font-family: roboto;
        text-transform: uppercase;
        letter-spacing: 4px;
        color: #3e3c3c;

        width: 400px;
        height: 400px;

        padding-top: 20px;
        padding-left: 10px;

        bottom: 30px;
    }

    .overlay-h6 {
        font-size: 14px;
        height: 35px;
        padding-top: 10px;
        bottom: 30px;
        left: 150px;
    }

    .overlay-h3 {
        font-size: 40px;
        font-family: roboto;
        letter-spacing: 2px;
        padding-bottom: 30px;
    }



    #gym-ethos {
        width: 90%;
        height: 600px;
        margin: 0 auto;
    }



    .left-about-heading,
    .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2,
    .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p,
    .right-about-heading p {
        text-align: center;
        padding: 0 20px 0 20px;
    }

    /*  #right-info {

        background-color: rgba(255, 0, 0, 0.1);
        width: 50%;
    } */

    #right-info h2 {
        padding-bottom: 15px;
        font-size: 15px;

        padding-left: 50px;
        text-align: center;
    }

    #right-info p {
        padding-bottom: 20px;
        width: 70%;
        font-size: medium;
        padding-left: 50px;

    }

    #photo {
        column-count: 3;
    }

    .textarea {
        background: transparent;
        color: #303030;
        width: 100%;
        height: 150px;
        margin: 5px 0 20px 0;
        border: 1px solid#c4c3c3;
        border-radius: 2px;
        font-size: 25px;
    }

    #info-ethos {
        left: 0;
        flex-direction: column-reverse;
        text-align: left;

        height: 600px;
        width: 100%;


    }

    #left-info,
    #right-info {
        width: 100%;
        text-align: center;
    }

    /* Additional styles for specific elements in mobile view */
    .btn-join {
        margin-top: 10px;
        /* Adjust the margin as needed */
    }
}

@media screen and (max-width: 800px) {
    #photo {
        column-count: 2;
    }
}



/*................................signup...............*/
.form-section {
    clear: left;
    background: url("../images/signup.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin-top: 150px;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    right: 10%;
    padding: 30px;
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: red;
}

.signup {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: red;
    color: #fafafa;
    display: block;
}

.signup:hover {
    background-color: #fafafa;
    color: red;
}